In [3]:
import sqlite3
import sqlite3
 
conn = sqlite3.connect("dev.db")
cursor = conn.cursor()

from lib.table import Table
i = 0
id_names = {}
with jsonlines.open('dev.tables.jsonl') as reader:
    for obj in reader:
        my_table = Table(table_id = obj["id"], header = obj['header'], types = obj['types'], rows = obj['rows'])
        id_names[obj["id"]] = my_table.name
        if (i < 20):
            i = i+1
            print (obj["id"])
            print (obj['header'])
            print (obj['rows'])
            print (my_table.name)
            #print (my_table.get_schema(conn, obj["id"]))
            print()

ModuleNotFoundError: No module named 'lib.table'

In [19]:
import jsonlines
import sys
sys.path
sys.path.append('/home/vika/seq2sql_botcamp/WikiSQL/')
from lib.query import Query
from lib.table import Table
i = 0
with jsonlines.open('dev.jsonl') as reader:
    for obj in reader:
        if (i < 20):
            i = i+1
            print (obj["question"])
            print (obj['table_id'])
            sel_index = obj['sql']['sel']
            agg_index = obj['sql']["agg"]
            conditions=tuple(obj['sql']["conds"])
            my_query = Query(sel_index = sel_index, agg_index  = agg_index, conditions =  conditions)
            qwr = my_query.__repr__()
            qwr = qwr.replace('table', id_names[obj['table_id']])
            print (qwr)

What position does the player who played for butler cc (ks) play?
1-10015132-11
SELECT  col3 FROM table_1_10015132_11 WHERE col5 = Butler CC (KS)
How many schools did player number 3 play at?
1-10015132-11
SELECT COUNT col5 FROM table_1_10015132_11 WHERE col1 = 3
What school did player number 21 play for?
1-10015132-11
SELECT  col5 FROM table_1_10015132_11 WHERE col1 = 21
Who is the player that wears number 42?
1-10015132-11
SELECT  col0 FROM table_1_10015132_11 WHERE col1 = 42
What player played guard for toronto in 1996-97?
1-10015132-11
SELECT  col0 FROM table_1_10015132_11 WHERE col3 = Guard AND col4 = 1996-97
Who are all of the players on the Westchester High School club team?
1-10015132-9
SELECT  col0 FROM table_1_10015132_9 WHERE col5 = Westchester High School
What school/club team is Amir Johnson on?
1-10015132-9
SELECT  col5 FROM table_1_10015132_9 WHERE col0 = Amir Johnson
What are the total amount of numbers on the Toronto team in 2005-06?
1-10015132-9
SELECT COUNT col1 FROM table_1_10015132_9 WHERE col4 = 2005-06
What are the total number of positions on the Toronto team in 2006-07?
1-10015132-9
SELECT COUNT col3 FROM table_1_10015132_9 WHERE col4 = 2006-07
What are the nationality of the players on the Fresno State school/club team?
1-10015132-9
SELECT  col2 FROM table_1_10015132_9 WHERE col5 = Fresno State
What school/club team is Trey Johnson on?
1-10015132-9
SELECT  col5 FROM table_1_10015132_9 WHERE col0 = Trey Johnson
When did Jacques Chirac stop being a G8 leader?
1-10026563-1
SELECT  col2 FROM table_1_10026563_1 WHERE col3 = Jacques Chirac
When did the Prime Minister of Italy take office?
1-10026563-1
SELECT  col0 FROM table_1_10026563_1 WHERE col4 = Prime Minister of Italy
What is the English name of the country whose official native language is Dutch Papiamento?
1-1008653-1
SELECT  col0 FROM table_1_1008653_1 WHERE col4 = Dutch Papiamento
What official or native languages are spoken in the country whose capital city is Canberra?
1-1008653-1
SELECT  col4 FROM table_1_1008653_1 WHERE col1 = Canberra
What is the local name given to the city of Canberra?
1-1008653-1
SELECT  col3 FROM table_1_1008653_1 WHERE col1 = Canberra
What is the local name given to the capital of Anguilla?
1-1008653-1
SELECT  col3 FROM table_1_1008653_1 WHERE col2 = Anguilla
What is the English name given to the city of St. John's?
1-1008653-1
SELECT  col1 FROM table_1_1008653_1 WHERE col3 = St. John's
How many capital cities does Australia have?
1-1008653-1
SELECT COUNT col3 FROM table_1_1008653_1 WHERE col2 = Australia
The episode with production code 9abx02 was originally aired on what date?
1-10088101-1
SELECT  col5 FROM table_1_10088101_1 WHERE col6 = 9ABX02

In [2]:
! pip3 install --trusted-host=pypi.python.org --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --user jsonlines

Collecting jsonlines
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f982d1f7630>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/jsonlines/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f982d1f73c8>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/jsonlines/
^C
Operation cancelled by user