In [1]:
import sqlite3
import jsonlines

conn = sqlite3.connect("dev.db")
cursor = conn.cursor()

from lib.table import Table
i = 0
id_names = {}
with jsonlines.open('dev.tables.jsonl') as reader:
    for obj in reader:
        my_table = Table(table_id = obj["id"], header = obj['header'], types = obj['types'], rows = obj['rows'])
        id_names[obj["id"]] = my_table.name
        if (i < 20):
            i = i+1
            print (obj["id"])
            print (obj['header'])
            print (obj['rows'])
            print (my_table.name)
            #print (my_table.get_schema(conn, obj["id"]))
            print()

1-10015132-11
['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team']
[['Antonio Lang', '21', 'United States', 'Guard-Forward', '1999-2000', 'Duke'], ['Voshon Lenard', '2', 'United States', 'Guard', '2002-03', 'Minnesota'], ['Martin Lewis', '32, 44', 'United States', 'Guard-Forward', '1996-97', 'Butler CC (KS)'], ['Brad Lohaus', '33', 'United States', 'Forward-Center', '1996', 'Iowa'], ['Art Long', '42', 'United States', 'Forward-Center', '2002-03', 'Cincinnati'], ['John Long', '25', 'United States', 'Guard', '1996-97', 'Detroit'], ['Kyle Lowry', '3', 'United States', 'Guard', '2012-Present', 'Villanova']]
table_1_10015132_11

1-10015132-9
['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team']
[['Jarrett Jack', '1', 'United States', 'Guard', '2009-10', 'Georgia Tech'], ['Jermaine Jackson', '8', 'United States', 'Guard', '2002-03', 'Detroit'], ['Luke Jackson', '6', 'United States', 'Guard-Forward', '2007', 'Oregon'], ['Mark Jackson', '13', 'United States', 'Guard', '2000-01', "St. John's"], ['Mike James', '13', 'United States', 'Guard', '2005-06', 'Duquesne'], ['Nathan Jawai', '21', 'Australia', 'Forward-Center', '2009', 'Midland College'], ['Chris Jefferies', '1, 32', 'United States', 'Forward', '2002-03', 'Fresno State'], ['Amir Johnson', '15', 'United States', 'Forward-Center', '2009-present', 'Westchester High School'], ['James Johnson', '0, 2', 'United States', 'Forward', '2011-2012', 'Wake Forest'], ['Linton Johnson', '13', 'United States', 'Forward', '2008', 'Tulane'], ['Trey Johnson', '12', 'United States', 'Guard', '2011', 'Jackson State'], ['Fred Jones', '20', 'United States', 'Guard', '2006-07', 'Oregon'], ['Popeye Jones', '54', 'United States', 'Forward', '1996-98', 'Murray State']]
table_1_10015132_9

1-10026563-1
['Entered office as Head of State or Government', 'Began time as senior G8 leader', 'Ended time as senior G8 leader', 'Person', 'Office']
[['16 October 1964', '15 November 1975', '5 April 1976', 'Harold Wilson', 'Prime Minister of the United Kingdom'], ['16 May 1974', '5 April 1976', '27 June 1976', 'Helmut Schmidt', 'Chancellor of West Germany'], ['20 April 1968', '27 June 1976', '4 June 1979', 'Pierre Trudeau', 'Prime Minister of Canada'], ['16 May 1974', '4 June 1979', '1 October 1982', 'Helmut Schmidt', 'Chancellor of West Germany'], ['4 May 1979', '1 October 1982', '28 November 1990', 'Margaret Thatcher', 'Prime Minister of the United Kingdom'], ['10 May 1981', '28 November 1990', '17 May 1995', 'François Mitterrand', 'President of France'], ['1 October 1982', '17 May 1995', '27 October 1998', 'Helmut Kohl', 'Chancellor of Germany'], ['10 July 1991', '27 October 1998', '31 December 1999', 'Boris Yeltsin', 'President of Russia'], ['20 January 1993', '31 December 1999', '20 January 2001', 'Bill Clinton', 'President of the United States'], ['4 November 1993', '20 January 2001', '12 December 2003', 'Jean Chrétien', 'Prime Minister of Canada'], ['17 May 1995', '12 December 2003', '16 May 2007', 'Jacques Chirac', 'President of France'], ['2 May 1997', '16 May 2007', '27 June 2007', 'Tony Blair', 'Prime Minister of the United Kingdom'], ['31 December 1999', '27 June 2007', '7 May 2008', 'Vladimir Putin', 'President of Russia'], ['20 January 2001', '7 May 2008', '20 January 2009', 'George W. Bush', 'President of the United States'], ['10 May 1994', '20 January 2009', '16 November 2011', 'Silvio Berlusconi', 'Prime Minister of Italy'], ['22 November 2005', '16 November 2011', '7 May 2012', 'Angela Merkel', 'Chancellor of Germany']]
table_1_10026563_1

1-1008653-1
['Country ( exonym )', 'Capital ( exonym )', 'Country ( endonym )', 'Capital ( endonym )', 'Official or native language(s) (alphabet/script)']
[['Afghanistan', 'Kabul', 'Afghanestan افغانستان', 'Kaalu كابل', 'Pashto / Dari ( Arabic script )'], ['Albania', 'Tirana', 'Shqipëria', 'Tiranë', 'Albanian'], ['American Samoa', 'Pago Pago', 'Amerika Sāmoa American Samoa', 'Pago Pago Pago Pago', 'Samoan English'], ['Andorra', 'Andorra la Vella', 'Andorra', 'Andorra la Vella', 'Catalan'], ['Angola', 'Luanda', 'Angola', 'Luanda', 'Portuguese'], ['Anguilla', 'The Valley', 'Anguilla', 'The Valley', 'English'], ['Antigua and Barbuda', "Saint John's", 'Antigua and Barbuda', "St. John's", 'English'], ['Argentina', 'Buenos Aires', 'Argentina', 'Buenos Aires', 'Spanish'], ['Armenia', 'Yerevan', 'Hayastán Հայաստան', 'Yerevan Երեվան', 'Armenian ( Armenian alphabet )'], ['Aruba', 'Oranjestad', 'Aruba Aruba', 'Oranjestad Oranjestad', 'Dutch Papiamento'], ['Australia', 'Canberra', 'Australia', 'Canberra', 'English / Aboriginal native languages'], ['Austria', 'Vienna', 'Österreich', 'Wien', 'German']]
table_1_1008653_1

1-10088101-1
['No. in set', 'No. in series', 'Title', 'Directed by', 'Written by', 'Original air date', 'Production code']
[[1, 174, '" Per Manum "', 'Kim Manners', 'Chris Carter & Frank Spotnitz', 'February18,2001', '8ABX13'], [2, 175, '" This is Not Happening "', 'Kim Manners', 'Chris Carter & Frank Spotnitz', 'February25,2001', '8ABX14'], [3, 176, '" Deadalive "', 'Tony Wharmby', 'Chris Carter & Frank Spotnitz', 'April1,2001', '8ABX15'], [4, 177, '" Three Words "', 'Tony Wharmby', 'Chris Carter & Frank Spotnitz', 'April8,2001', '8ABX16'], [5, 179, '" Vienen "', 'Rod Hardy', 'Steven Maeda', 'April29,2001', '8ABX18'], [6, 181, '" Essence "', 'Kim Manners', 'Chris Carter', 'May13,2001', '8ABX20'], [7, 182, '" Existence "', 'Kim Manners', 'Chris Carter', 'May20,2001', '8ABX21'], [8, 183, '" Nothing Important Happened Today "', 'Kim Manners', 'Chris Carter & Frank Spotnitz', 'November11,2001', '9ABX01'], [9, 184, '" Nothing Important Happened Today II "', 'Tony Wharmby', 'Chris Carter & Frank Spotnitz', 'November18,2001', '9ABX02'], [10, 188, '" Trust No 1 "', 'Tony Wharmby', 'Chris Carter & Frank Spotnitz', 'January6,2002', '9ABX06'], [11, 191, '" Provenance "', 'Kim Manners', 'Chris Carter & Frank Spotnitz', 'March3,2002', '9ABX09'], [12, 192, '" Providence "', 'Chris Carter', 'Chris Carter & Frank Spotnitz', 'March10,2002', '9ABX10']]
table_1_10088101_1

1-10295819-2
['Player', 'Highest singles ranking', 'Highest doubles ranking', 'First year played', 'Years played', 'Ties played', 'Total W–L', 'Singles W–L', 'Doubles W–L']
[['Aivaras Balžekas Category:Articles with hCards', '926', '939', 1999, 5, 19, '10–13', '9–12', '1–1'], ['Ričardas Berankis Category:Articles with hCards', '67', '285', 2007, 6, 13, '17–9', '14–5', '3–4'], ['Mantas Bugailiškis Category:Articles with hCards', 'N/A', 'N/A', 2013, 1, 1, '0–1', '0–0', '0–1'], ['Eugenijus Cariovas Category:Articles with hCards', 'N/A', 'N/A', 2006, 2, 8, '8–5', '2–3', '6–2'], ['Mindaugas Čeledinas', 'N/A', 'N/A', 2006, 2, 3, '0–4', '0–1', '0–3'], ['Artūras Gotovskis Category:Articles with hCards', 'N/A', 'N/A', 2005, 1, 2, '1–1', '0–1', '1–0'], ['Julius Gotovskis Category:Articles with hCards', 'N/A', 'N/A', 2011, 1, 1, '0–1', '0–1', '0–0'], ['Laurynas Grigelis Category:Articles with hCards', '183', '132', 2008, 4, 9, '7–9', '4–7', '3–2'], ['Denis Ivancovas Category:Articles with hCards', 'N/A', 'N/A', 1994, 3, 8, '7–4', '2–2', '5–2'], ['Paulius Jurkėnas Category:Articles with hCards', 'N/A', '1434', 2000, 2, 5, '1–4', '0–0', '1–4'], ['Aurimas Karpavičius Category:Articles with hCards', 'N/A', 'N/A', 2003, 1, 2, '0–2', '0–1', '0–1'], ['Daniel Lencina-Ribes Category:Articles with hCards', '591', '671', 2005, 5, 20, '19–9', '11–4', '8–5'], ['Gitanas Mažonas Category:Articles with hCards', 'N/A', 'N/A', 1994, 4, 13, '10–7', '7–4', '3–3'], ['Lukas Mugevičius Category:Articles with hCards', 'N/A', '1513', 2010, 4, 6, '3–7', '2–4', '1–3'], ['Rolandas Muraška Category:Articles with hCards', '575', '1100', 1994, 12, 49, '56–32', '37–12', '19–20'], ['Tomas Petrauskas Category:Articles with hCards', 'N/A', 'N/A', 1998, 1, 2, '2–1', '1–0', '1–1'], ['Vadim Pinko Category:Articles with hCards', 'N/A', 'N/A', 2009, 1, 1, '0–1', '0–0', '0–1'], ['Denis Riabuchin Category:Articles with hCards', 'N/A', 'N/A', 2006, 1, 2, '0–2', '0–0', '0–2'], ['Arūnas Rozga Category:Articles with hCards', 'N/A', 'N/A', 1999, 2, 8, '4–4', '0–0', '4–4'], ['Gvidas Sabeckis Category:Articles with hCards', '488', '548', 2002, 8, 31, '23–21', '11–7', '12–14'], ['Dovydas Šakinis', '808', '1214', 2009, 5, 10, '4–8', '3–5', '1–3'], ['Aistis Šlajus', '1346', '1434', 1998, 3, 11, '6–10', '4–7', '2–3'], ['Julius Tverijonas Category:Articles with hCards', '1418', 'N/A', 2011, 1, 1, '0–1', '0–1', '0–0'], ['Giedrius Vėželis Category:Articles with hCards', 'N/A', 'N/A', 1994, 1, 3, '1–2', '1–0', '0–2']]
table_1_10295819_2

1-10342194-3
['District', 'Total amount of trees', 'Prevailing types, %', 'Amount of old trees', 'Amount of trees, that require replacement']
[['Kirovsky', 188497, 'Pine — 29.37 Poplar — 26.12 Acer negundo — 13.2', '98,374 (52.18%)', '2,322 (2.36%)'], ['Motovilikhinsky', 129888, 'Acer negundo — 27.62 Poplar — 15.88 Willow — 14.05', '13,603 (10.47%)', '1,419 (10.43%)'], ['Ordzhonikidzevsky', 101566, 'Poplar — 24.09 Birch — 17.32 Acer negundo — 13.02', '1,928 (1.89%)', '1,297 (67.27%)'], ['Sverdlovsky', 163945, 'Acer negundo — 24.82 Willow — 15.94 Poplar — 13.18', '6,133 (3.74%)', '642 (10.47%)'], ['Leninsky', 13151, 'Acer negundo — 30.22 Tilia — 18.6 Poplar — 15.23', '3,283 (14.53%)', '897 (27.32%)']]
table_1_10342194_3

1-10429820-13
['Iowa State vs.', 'Overall Record', 'in Ames', 'at Opponents Venue', 'at Neutral Site', 'Last 5 Meetings', 'Last 10 Meetings', 'Current Streak', 'Since Beginning of Big 12']
[['Baylor', 'ISU, 14–8', 'ISU, 10–0', 'BU, 2–7', 'ISU, 2–1', 'ISU, 4–1', 'ISU, 6–4', 'W 3', 'ISU, 13–7'], ['Kansas', 'KU, 174–59', 'KU, 67–37', 'KU, 89–15', 'KU, 18–7', 'KU, 4–1', 'KU, 9–1', 'L 3', 'KU, 28–7'], ['Kansas State', 'KSU, 134–77', 'KSU, 50–48', 'KSU, 78–21', 'ISU, 9–7', 'ISU, 3–2', 'KSU, 6–4', 'L 1', 'KSU, 18–15'], ['Oklahoma', 'OU, 111–79', 'ISU, 46–37', 'OU, 61–22', 'OU, 13–11', 'ISU, 4–1', 'Tied, 5–5', 'W 1', 'OU, 13–7'], ['Oklahoma State', 'OSU, 62–53', 'ISU, 34–14', 'OSU, 36–13', 'OSU, 12–6', 'OSU, 3–2', 'OSU, 7–3', 'W 1', 'OSU, 16–5'], ['Texas', 'UT, 14–10', 'ISU, 7–4', 'UT, 1–9', 'ISU, 2–1', 'UT, 3–2', 'UT, 8–2', 'L 1', 'UT, 13–6'], ['TCU', 'TCU, 5–3', 'ISU, 2–1', 'TCU, 2–1', 'TCU, 2–0', 'TCU, 3–2', 'TCU, 5–3', 'W 2', 'N/A'], ['Texas Tech', 'ISU, 12–11', 'ISU, 7–3', 'TTU, 7–2', 'Tied, 1–1', 'ISU, 3–2', 'TTU, 6–4', 'W 1', 'TTU, 11–8'], ['West Virginia', 'ISU, 2-0', 'ISU, 1-0', 'ISU, 1-0', 'N/A', 'ISU, 2-0', 'ISU, 2-0', 'W 2', 'ISU, 2-0'], ['Iowa State vs.', 'Overall Record', 'in Ames', "at Opponent's Venue", 'at Neutral Site', 'Last 5 Meetings', 'Last 10 Meetings', 'Current Streak', 'Since Beginning of Big 12'], ['Colorado', 'ISU, 77–70', 'ISU, 48–18', 'CU, 48–16', 'ISU, 13–4', 'CU, 3–2', 'Tied, 5–5', 'L 1', 'Tied, 16–16'], ['Missouri', 'MU, 147–84', 'ISU, 58–47', 'MU, 84–21', 'MU, 5–16', 'MU, 5–0', 'MU, 8–2', 'L 9', 'MU, 18–14'], ['Nebraska', 'NU, 131–103', 'ISU, 62–48', 'NU, 78–33', 'ISU, 8–5', 'ISU, 3–2', 'ISU, 7–3', 'W 1', 'ISU, 18–12'], ['Texas A&M', 'TAMU, 10–7', 'ISU, 4–3', 'TAMU, 5–3', 'Tied, 1–1', 'TAMU, 3–2', 'TAMU, 8–2', 'W 2', 'TAMU, 10–7']]
table_1_10429820_13

1-1046170-5
['Year', 'Division', 'League', 'Regular Season', 'Playoffs', 'U.S. Open Cup']
[[1993, '3', 'USISL', '4th, Atlantic Division', 'Divisional Semifinals', 'Did Not Enter'], [1994, '3', 'USISL', '9th, Atlantic Division', 'Did Not Qualify', 'Did Not Enter'], [1994, 'N/A', 'USISL Indoor', '2nd, Northern Division', 'Did Not Qualify', 'Did Not Enter'], [1995, '4', 'USISL Premier League', '2nd, Eastern Division', 'Champions', 'Champions'], [1996, '3', 'USISL Select League', '2nd, North Atlantic Division', 'Final', 'Did Not Qualify'], [1997, '2', 'USISL A-League', '3rd, Atlantic Division', 'Division Semifinals', '3rd Round'], [1998, '2', 'USISL A-League', '1st, Atlantic Division', 'Conference Semifinals', 'Did Not Qualify'], [1999, '2', 'USL A-League', '2nd, Atlantic Division', 'Second Round', 'Did Not Qualify'], [2000, '2', 'USL A-League', '2nd, Atlantic Division', 'Conference Semifinals', '3rd round'], [2001, '2', 'USL A-League', '1st, Central Conference', 'Quarterfinals', 'Quarterfinals'], [2002, '2', 'USL A-League', '2nd, Southeast Division', 'Final', '3rd Round'], [2003, '2', 'USL A-League', '3rd, Southeast Division', 'Did Not Qualify', 'Did Not Qualify'], [2004, '2', 'USL A-League', '2nd, Eastern Conference', 'Quarterfinals', 'Quarterfinals'], [2005, '2', 'USL First Division', '6th', 'Final', '4th Round'], [2006, '3', 'USL Second Division', '1st', 'Champions', '2nd Round'], [2007, '3', 'USL Second Division', '1st', 'Final', 'Quarterfinals'], [2008, '3', 'USL Second Division', '2nd', 'Semifinals', '3rd Round'], [2009, '3', 'USL Second Division', '2nd', 'Champions', '1st Round'], [2010, '3', 'USL Second Division', '2nd', 'Final', '3rd Round'], [2011, '3', 'USL Pro', '3rd, American Division', 'Semifinals', 'Semifinals'], [2012, '3', 'USL Pro', '4th', '1st Round', '3rd Round']]
table_1_1046170_5

1-1061075-1
['Season', 'Competition', 'Round', 'Opponents', '1st leg', '2nd leg', 'Aggregate']
[['1980-81', "UEFA Cup Winners' Cup", 'First round', 'Haugar', '1-1', '0-2', '1-3'], ['1992-93', 'UEFA Champions League', 'First round', 'Tavriya Simferopol', '4-1 (h)', '3-1 (a)', '7-2'], ['1992-93', 'UEFA Champions League', 'Second round', 'Porto', '2-2 (h)', '0-4 (a)', '2-6'], ['2007–08', 'UEFA Cup', 'Second qualifying round', 'Ried', '1–1', '3–0', '4–1'], ['2007–08', 'UEFA Cup', 'First round', 'Galatasaray', '3–2', '1–5', '4–7'], ['2009–10', 'UEFA Europa League', 'Play-off round', 'Fenerbahçe', '0–2', '2–2', '2–4']]
table_1_1061075_1

1-10706879-3
['Rd', 'Name', 'Pole Position', 'Fastest Lap', 'Winning driver', 'Winning team', 'Report']
[[1, 'Kraco Car Stereo 200', 'Bobby Unser', 'Unknown', 'Johnny Rutherford', 'Chaparral', 'Report'], [2, 'Gould-Rex Mays 150', 'Gordon Johncock', 'Unknown', 'Mike Mosley', 'All American Racers', 'Report'], [3, 'Kraco Twin 125 (R1)', 'Johnny Rutherford', 'Unknown', 'Rick Mears', 'Penske Racing', 'Report'], [4, 'Kraco Twin 125 (R2)', 'Rick Mears', 'Unknown', 'Rick Mears', 'Penske Racing', 'Report'], [5, 'Norton Michigan 500', 'Tom Sneva', 'Unknown', 'Pancho Carter', 'Alex Foods', 'Report'], [6, 'Los Angeles Times 500', 'Geoff Brabham', 'Unknown', 'Rick Mears', 'Penske Racing', 'Report'], [7, 'Tony Bettenhausen 200', 'Johnny Rutherford', 'Unknown', 'Tom Sneva', 'Bignotti-Cotter', 'Report'], [8, 'Detroit News Grand Prix', 'Rick Mears', 'Unknown', 'Rick Mears', 'Penske Racing', 'Report'], [9, 'Watkins Glen 200', 'Mario Andretti', 'Unknown', 'Rick Mears', 'Penske Racing', 'Report'], [10, 'II Copa Mexico 150', 'Bobby Unser', 'Unknown', 'Rick Mears', 'Penske Racing', 'Report']]
table_1_10706879_3

1-10706961-2
['Rd', 'Name', 'Pole Position', 'Fastest Lap', 'Winning driver', 'Winning team', 'Report']
[[1, 'Kraco Dixie 200', 'Rick Mears', '26.730', 'Gordon Johncock', 'Patrick Racing', 'Report'], [2, 'Indianapolis 500', 'Teo Fabi', '2:53.582', 'Tom Sneva', 'Bignotti-Cotter Racing', 'Report'], [3, 'Dana-Rex Mays 150', 'Teo Fabi', '26.259', 'Tom Sneva', 'Bignotti-Cotter Racing', 'Report'], [4, 'Budweiser Cleveland 500', 'Mario Andretti', '1:13.516', 'Al Unser', 'Penske Racing', 'Report'], [5, 'Michigan 500', 'Teo Fabi', '35.621', 'John Paul, Jr.', 'VDS Racing', 'Report'], [6, 'Promi Veal 200', 'Mario Andretti', '1:58.898', 'Mario Andretti', 'Newman/Haas Racing', 'Report'], [7, "Domino's Pizza 500", 'Tom Sneva', '46.912', 'Teo Fabi', 'Forsythe Racing', 'Report'], [8, 'LA Times/Budweiser 500', 'Teo Fabi', '1:30.887', 'Bobby Rahal', 'Truesports', 'Report'], [9, 'Escort Radar Warning 200', 'Bobby Rahal', '1:21.364', 'Teo Fabi', 'Forsythe Racing', 'Report'], [10, 'Detroit News Grand Prix', 'Bobby Rahal', '35.075', 'Rick Mears', 'Penske Racing', 'Report'], [11, 'Caesars Palace Grand Prix', 'John Paul, Jr.', '34.888', 'Mario Andretti', 'Newman/Haas Racing', 'Report'], [12, 'Cribari Wines 300k', 'Teo Fabi', '56.920', 'Teo Fabi', 'Forsythe Racing', 'Report']]
table_1_10706961_2

1-10707176-2
['Rnd', 'Race Name', 'Circuit', 'City/Location', 'Date', 'Pole position', 'Winning driver', 'Winning team', 'Report']
[['1', 'Checker Autoworks 200', 'Phoenix International Raceway', 'Phoenix, Arizona', 'April 9', 'Rick Mears', 'Rick Mears', 'Team Penske', 'Report'], ['2', 'Long Beach Grand Prix', 'Streets of Long Beach', 'Long Beach, California', 'April 16', 'Al Unser, Jr.', 'Al Unser, Jr.', 'Galles Racing', 'Report'], ['3', '73rd Indianapolis 500', 'Indianapolis Motor Speedway', 'Speedway, Indiana', 'May 28', 'Rick Mears', 'Emerson Fittipaldi', 'Patrick Racing', 'Report'], ['4', 'Dana-Rex Mays 200', 'Milwaukee Mile', 'West Allis, Wisconsin', 'June 4', 'Rick Mears', 'Rick Mears', 'Team Penske', 'Report'], ['5', 'Valvoline Detroit Grand Prix', 'Streets of Detroit', 'Detroit, Michigan', 'June 18', 'Michael Andretti', 'Emerson Fittipaldi', 'Patrick Racing', 'Report'], ['6', "Budweiser/G. I. Joe's 200", 'Portland International Raceway', 'Portland, Oregon', 'June 25', 'Teo Fabi', 'Emerson Fittipaldi', 'Patrick Racing', 'Report'], ['7', 'Cleveland Grand Prix', 'Cleveland Burke Lakefront Airport', 'Cleveland, Ohio', 'July 2', 'Michael Andretti', 'Emerson Fittipaldi', 'Patrick Racing', 'Report'], ['8', 'Meadowlands Grand Prix', 'Meadowlands Sports Complex', 'East Rutherford, New Jersey', 'July 16', 'Emerson Fittipaldi', 'Bobby Rahal', 'Kraco Racing', 'Report'], ['9', 'Molson Indy Toronto', 'Exhibition Place', 'Toronto, Ontario', 'July 23', 'Emerson Fittipaldi', 'Michael Andretti', 'Newman/Haas Racing', 'Report'], ['10', 'Marlboro 500', 'Michigan International Speedway', 'Brooklyn, Michigan', 'August 6', 'Emerson Fittipaldi', 'Michael Andretti', 'Newman/Haas Racing', 'Report'], ['11', 'Pocono 500', 'Pocono Raceway', 'Long Pond, Pennsylvania', 'August 20', 'Emerson Fittipaldi', 'Danny Sullivan', 'Team Penske', 'Report'], ['12', 'Red Roof Inns 200', 'Mid-Ohio Sports Car Course', 'Lexington, Ohio', 'September 3', 'Teo Fabi', 'Teo Fabi', 'Porsche North America', 'Report'], ['13', 'Race for Life 200', 'Road America', 'Elkhart Lake, Wisconsin', 'September 10', 'Danny Sullivan', 'Danny Sullivan', 'Team Penske', 'Report'], ['14', 'Bosch Spark Plug Grand Prix', 'Nazareth Speedway', 'Nazareth, Pennsylvania', 'September 24', 'Rick Mears', 'Emerson Fittipaldi', 'Patrick Racing', 'Report'], ['NC', 'Marlboro Challenge', 'Mazda Raceway Laguna Seca', 'Monterey, California', 'October 14', 'Emerson Fittipaldi', 'Al Unser, Jr.', 'Galles Racing', 'Report']]
table_1_10707176_2

1-10712301-5
['Region', 'Operator', 'Licence award date', 'On air date', 'Closure date']
[['Central Scotland', 'Switch Digital', '6 October 2000', 'June 2001', 'N/A'], ['North East England', 'MXR Ltd', '15 December 2000', 'July 2001', '29 July 2013'], ['South Wales and the Severn Estuary', 'MXR Ltd', '23 January 2001', 'July 2001', '29 July 2013'], ['West Midlands', 'MXR Ltd', '9 February 2001', 'August 2001', '27 August 2013'], ['North West England', 'MXR Ltd', '9 March 2001', 'September 2001', '24 September 2013']]
table_1_10712301_5

1-10733530-3
['Nation', 'Population (thousands)', 'Internet subscriptions (2000) (thousands of users)', 'Internet subscriptions (2008) (thousands of users)', '% growth (2000–2008)', '% Internet users']

In [2]:
import jsonlines
import sys
#sys.path.append('/home/vika/seq2sql_botcamp/WikiSQL/')
from lib.query import Query
from lib.table import Table
i = 0
with jsonlines.open('dev.jsonl') as reader:
    for obj in reader:
        if (i < 20):
            i = i+1
            print (obj["question"])
            print (obj['table_id'])
            sel_index = obj['sql']['sel']
            agg_index = obj['sql']["agg"]
            conditions=tuple(obj['sql']["conds"])
            my_query = Query(sel_index = sel_index, agg_index  = agg_index, conditions =  conditions)
            qwr = my_query.__repr__()
            qwr = qwr.replace('table', id_names[obj['table_id']])
            print (qwr)

What position does the player who played for butler cc (ks) play?
1-10015132-11
SELECT  col3 FROM table_1_10015132_11 WHERE col5 = Butler CC (KS)
How many schools did player number 3 play at?
1-10015132-11
SELECT COUNT col5 FROM table_1_10015132_11 WHERE col1 = 3
What school did player number 21 play for?
1-10015132-11
SELECT  col5 FROM table_1_10015132_11 WHERE col1 = 21
Who is the player that wears number 42?
1-10015132-11
SELECT  col0 FROM table_1_10015132_11 WHERE col1 = 42
What player played guard for toronto in 1996-97?
1-10015132-11
SELECT  col0 FROM table_1_10015132_11 WHERE col3 = Guard AND col4 = 1996-97
Who are all of the players on the Westchester High School club team?
1-10015132-9
SELECT  col0 FROM table_1_10015132_9 WHERE col5 = Westchester High School
What school/club team is Amir Johnson on?
1-10015132-9
SELECT  col5 FROM table_1_10015132_9 WHERE col0 = Amir Johnson
What are the total amount of numbers on the Toronto team in 2005-06?
1-10015132-9
SELECT COUNT col1 FROM table_1_10015132_9 WHERE col4 = 2005-06
What are the total number of positions on the Toronto team in 2006-07?
1-10015132-9
SELECT COUNT col3 FROM table_1_10015132_9 WHERE col4 = 2006-07
What are the nationality of the players on the Fresno State school/club team?
1-10015132-9
SELECT  col2 FROM table_1_10015132_9 WHERE col5 = Fresno State
What school/club team is Trey Johnson on?
1-10015132-9
SELECT  col5 FROM table_1_10015132_9 WHERE col0 = Trey Johnson
When did Jacques Chirac stop being a G8 leader?
1-10026563-1
SELECT  col2 FROM table_1_10026563_1 WHERE col3 = Jacques Chirac
When did the Prime Minister of Italy take office?
1-10026563-1
SELECT  col0 FROM table_1_10026563_1 WHERE col4 = Prime Minister of Italy
What is the English name of the country whose official native language is Dutch Papiamento?
1-1008653-1
SELECT  col0 FROM table_1_1008653_1 WHERE col4 = Dutch Papiamento
What official or native languages are spoken in the country whose capital city is Canberra?
1-1008653-1
SELECT  col4 FROM table_1_1008653_1 WHERE col1 = Canberra
What is the local name given to the city of Canberra?
1-1008653-1
SELECT  col3 FROM table_1_1008653_1 WHERE col1 = Canberra
What is the local name given to the capital of Anguilla?
1-1008653-1
SELECT  col3 FROM table_1_1008653_1 WHERE col2 = Anguilla
What is the English name given to the city of St. John's?
1-1008653-1
SELECT  col1 FROM table_1_1008653_1 WHERE col3 = St. John's
How many capital cities does Australia have?
1-1008653-1
SELECT COUNT col3 FROM table_1_1008653_1 WHERE col2 = Australia
The episode with production code 9abx02 was originally aired on what date?
1-10088101-1
SELECT  col5 FROM table_1_10088101_1 WHERE col6 = 9ABX02

In [3]:
rows = list(cursor.execute('SELECT COUNT(col3) FROM table_1_1008653_1 WHERE col2 = "australia" '))

In [4]:
list(cursor.execute('SELECT COUNT(col3) FROM table_1_1008653_1 WHERE col2 = "australia" '))

[(1,)]

In [15]:
list(cursor.execute('SELECT col1, col2, col3 FROM table_1_1008653_1 '))

[('kabul', 'afghanestan افغانستان', 'kaalu كابل'),
 ('tirana', 'shqipëria', 'tiranë'),
 ('pago pago', 'amerika sāmoa american samoa', 'pago pago pago pago'),
 ('andorra la vella', 'andorra', 'andorra la vella'),
 ('luanda', 'angola', 'luanda'),
 ('the valley', 'anguilla', 'the valley'),
 ("saint john's", 'antigua and barbuda', "st. john's"),
 ('buenos aires', 'argentina', 'buenos aires'),
 ('yerevan', 'hayastán հայաստան', 'yerevan երեվան'),
 ('oranjestad', 'aruba aruba', 'oranjestad oranjestad'),
 ('canberra', 'australia', 'canberra'),
 ('vienna', 'österreich', 'wien')]

In [ ]:
mode

In [18]:
list(cursor.execute('SELECT  col3 FROM table_1_10015132_11 WHERE col5 = "butler cc (ks)" '))

[('guard-forward',)]

In [17]:
list(cursor.execute('SELECT col1, col2, col3, col4, col5 FROM table_1_10015132_11 '))

[('21', 'united states', 'guard-forward', '1999-2000', 'duke'),
 ('2', 'united states', 'guard', '2002-03', 'minnesota'),
 ('32, 44', 'united states', 'guard-forward', '1996-97', 'butler cc (ks)'),
 ('33', 'united states', 'forward-center', '1996', 'iowa'),
 ('42', 'united states', 'forward-center', '2002-03', 'cincinnati'),
 ('25', 'united states', 'guard', '1996-97', 'detroit'),
 ('3', 'united states', 'guard', '2012-present', 'villanova')]